/* block made with Views */
.block-views {
  position: relative;
}
.sidebar .block-views {
  box-shadow: 0 0 1px #bbb;
  padding: 10px;
}
.block-views .view-teaser-abbr .feed-icon {
  top: 8px;
}

/* .view-teaser-abbr */
.view-teaser-abbr .feed-icon {
  position: absolute;
  right: 5px;
  top: 3px;
}
.view-teaser-abbr ul {
  list-style: none;
  padding: 0;
}
.view-teaser-abbr ul li:first-child {
  border-top: 3px solid #444;
}
.view-teaser-abbr ul li {
  border-top: 1px solid #aaa;
  padding: 5px 0 10px 0;
  margin: 0;
}
.view-teaser-abbr ul h4 a.imagelink {
  float: right;
  margin-left: 10px;
}
.view-teaser-abbr ul h4 img {
  border: 1px solid #ccc;
  padding: 1px;
}
.view-teaser-abbr ul h4 a {
  font-size: 14px;
  color: #555;
  font-weight: normal;
}
.view-teaser-abbr .more-link {
  text-align: left;
}
.view-teaser-abbr .more-link a {
  background: #3388bb;
  padding: 3px 8px;
  color: #eee;
}
