{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="dcf-absolute dcf-right-0 dcf-bottom-0 dcf-list-bare dcf-btn-group dcf-mb-0 dcf-pr-2 dcf-txt-xs">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="dcf-absolute dcf-right-0 dcf-bottom-0 dcf-list-bare dcf-btn-group dcf-mb-0 dcf-pr-2 dcf-txt-xs">{{ secondary }}</ul>
{% endif %}
