<div data-drupal-messages>
{% for type, messages in message_list %}
  {% if type == 'error' %}
    {% set severity = 'danger' %}
  {% elseif type == 'status' %}
    {% set severity = 'success' %}
  {% elseif type == 'warning' %}
    {% set severity = 'warning' %}
  {% else %}
    {# This does not actually exist. Drupal only generates the three above. #}
    {% set severity = 'info' %}
  {% endif %}
  <div {{ attributes.addClass(['dcf-notice', 'dcf-notice-' ~ severity]) }} hidden data-overlay="dcf-header">
    {% if status_headings[type] %}
      <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
    {% endif %}
    <div>
    {% if messages|length > 1 %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ messages|first }}
    {% endif %}
    </div>
  </div>
{% endfor %}
</div>
